<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title>数字图像处理系统</title>
  <link rel="shortcut icon" href="../static/favicon.ico">
  <link rel="stylesheet" href="../static/style/index.css">
  <link rel="stylesheet" href="../static/style/sliderStyle.css">
  <link rel="stylesheet" href="../static/font/css/font-awesome.min.css">
</head>

<body>
  <div class="header">
    <div class="logo-wrap">
      <h1>
        <img src="static/img/logo.png" />
      </h1>
    </div>
    <div class="menu">
      <ul class="menu-list">
        <li class="menu-item open-file">
          <a href="javascript:;" class="menu-btn" title="导入图片">
            <i class="fa fa-folder-open-o" aria-hidden="true"></i>
            <input id="upload-btn" type="file" name="file"
              accept="image/png, image/gif, image/jpg, image/bmp, image/jpeg" />
            导入
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:;" class="menu-btn" id="del-btn" title="移除图片">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
            移除
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:;" class="menu-btn" id="save-btn" title="保存处理后的图片">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            保存
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="controller-wrapper">
      <div class="l-nav">
        <ul>
          <li>
            <a href="javascript:;" data-num='1' class="nav-item active">
              <i class="fa fa-magic" aria-hidden="true"></i>
              图像预处理
            </a>
          </li>
          <li>
            <a href="javascript:;" data-num='3' class="nav-item">
              <i class="fa fa-gavel" aria-hidden="true"></i>
              形态学操作
            </a>
          </li>
          <li>
            <a href="javascript:;" data-num='2' class="nav-item">
              <i class="fa fa-eercast" aria-hidden="true"></i>
              图像滤波
            </a>
          </li>
          <li>
            <a href="javascript:;" data-num='4' class="nav-item">
              <i class="fa fa-scissors" aria-hidden="true"></i>
              边缘检测
            </a>
          </li>
          <li>
            <a href="javascript:;" data-num='5' class="nav-item">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
              轮廓提取
            </a>
          </li>
          <li>
            <a href="javascript:;" data-num="6" class="nav-item">
              <i class="fa fa-cogs" aria-hidden="true"></i>
              齿轮检测
            </a>
          </li>
          <li>
            <a href="javascript:;" data-num="7" class="nav-item">
              <i class="fa fa-object-group" aria-hidden="true"></i>
              轴测量
            </a>
          </li>
        </ul>
      </div>
      <div class="l-nav-controller">
        <ul class="proc-list">
          <!-- ----------------- 图像预处理 ------------------>
          <li class="active">
            <ul class="img-pre-accordion accordion">
              <li>
                <div class="link">图像加噪<i class="fa fa-caret-right" aria-hidden="true"></i></div>
                <div class="submenu noise-section select-wrapper clearfix">
                  <div class="noise-main select-main">
                    <div class="noise-set-select select-set" data-current-item="salt">
                      <span>盐噪声</span>
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                    <div class="noise-select-block select-block">
                      <ul class="noise-list select-list">
                        <li data-item="slat">盐噪声</li>
                        <li data-item="pepper">椒噪声</li>
                        <li data-item="s&p">椒盐噪声</li>
                        <li data-item="gaussian">高斯噪声</li>
                        <li data-item="poisson">泊松噪声</li>
                        <li data-item="speckle">斑点噪声</li>
                      </ul>
                    </div>
                  </div>
                  <button class="put-btn preview-btn preview-noise-btn disable-button">
                    <i class="fa fa-spinner fa-pulse"></i>
                    <span>预览</span>
                  </button>
                  <button class="put-btn put-noise-btn disable-button">
                    <i class="fa fa-spinner fa-pulse"></i>
                    <span>应用</span>
                  </button>
                </div>
              </li>
              <li>
                <div class="link">图像灰度化<i class="fa fa-caret-right" aria-hidden="true"></i></div>
                <div class="submenu clearfix">
                  <button class="put-btn gray-btn disable-button">
                    <i class="fa fa-spinner fa-pulse"></i>
                    <span>应用</span>
                  </button>
                </div>
              </li>
              <li>
                <div class="link">图像阈值分割<i class="fa fa-caret-right" aria-hidden="true"></i></div>
                <div class="submenu threshold-section select-wrapper clearfix">
                  <div class="threshold-main select-main">
                    <div class="threshold-set-select select-set" data-current-item="0">
                      <span>二进制阈值化</span>
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                    <div class="threshold-select-block select-block">
                      <ul class="threshold-list select-list">
                        <li data-item="0">二进制阈值化</li>
                        <li data-item="1">反二进制阈值化</li>
                        <li data-item="2">截断阈值化</li>
                        <li data-item="3">反阈值化为0</li>
                        <li data-item="4">阈值化为0</li>
                      </ul>
                    </div>
                  </div>
                  <div class="kernel-slider thresh-slider">
                    <div class="slider-text">
                      <span class="label">阈值</span>
                      <span class="value"></span>
                    </div>
                    <input type="range" class="thr-slider" value="0">
                  </div>
                  <button class="put-btn preview-btn preview-threshold-btn disable-button">
                    <i class="fa fa-spinner fa-pulse"></i>
                    <span>预览</span>
                  </button>
                  <button class="put-btn threshold-btn disable-button">
                    <i class="fa fa-spinner fa-pulse"></i>
                    <span>应用</span>
                  </button>
                </div>
              </li>
            </ul>
          </li>
          <!------------------------- 图像滤波 ------------------------->
          <li>
            <div class="smoothing-section">
              <div class="select-wrapper smoothing-type-wrap">
                <h3>滤波类型</h3>
                <div class="select-main smoothing-main">
                  <div class="select-set smoothing-set" data-current-item="blur">
                    <span>均值滤波</span>
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </div>
                  <div class="select-block">
                    <ul class="select-list">
                      <li data-item="blur">均值滤波</li>
                      <li data-item="boxFilter">方框滤波</li>
                      <li data-item="gaussian">高斯滤波</li>
                      <li data-item="median">中值滤波</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="smoothing-slider">
                <div class="slider-text">
                  <span class="label">滤波核大小</span>
                  <span class="value"></span>
                </div>
                <input type="range" class="nuc-slider" value="0">
              </div>
              <div class="btn-wrap">
                <button class="put-btn preview-btn preview-smoothing-btn disable-button">
                  <i class="fa fa-spinner fa-pulse"></i>
                  <span>预览</span>
                </button>
                <button class="put-btn-green put-smoothing-btn disable-button">
                  <i class="fa fa-spinner fa-pulse"></i>
                  <span>应用</span>
                </button>
              </div>
            </div>
          </li>
          <!------------------------- 图像形态学操作 ---------------------->
          <li>
            <ul class="img-morphology accordion">
              <li>
                <div class="link">图像腐蚀<i class="fa fa-caret-right" aria-hidden="true"></i></div>
                <div class="submenu clearfix">
                  <div class="kernel-slider erode-slider">
                    <div class="slider-text">
                      <span class="label">卷积核大小</span>
                      <span class="value"></span>
                    </div>
                    <input type="range" class="k1-slider" value="0">
                  </div>
                  <div class="num-input-wrap erode-iteration">
                    <span class="label">迭代次数</span>
                    <div class="input-box">
                      <div class="minus">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                      </div>
                      <input type="text" class="num">
                      <div class="add">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <button class="put-btn preview-btn preview-erode-btn disable-button">
                    <i class="fa fa-spinner fa-pulse"></i>
                    <span>预览</span>
                  </button>
                  <button class="put-btn put-erode-btn disable-button">
                    <i class="fa fa-spinner fa-pulse"></i>
                    <span>应用</span>
                  </button>
                </div>
              </li>
              <li>
                <div class="link">图像膨胀<i class="fa fa-caret-right" aria-hidden="true"></i></div>
                <div class="submenu clearfix">
                  <div class="kernel-slider dilate-slider">
                    <div class="slider-text">
                      <span class="label">卷积核大小</span>
                      <span class="value"></span>
                    </div>
                    <input type="range" class="k2-slider" value="0">
                  </div>
                  <div class="num-input-wrap dilate-iteration">
                    <span class="label">迭代次数</span>
                    <div class="input-box">
                      <div class="minus">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                      </div>
                      <input type="text" class="num">
                      <div class="add">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <button class="put-btn preview-btn preview-dilate-btn disable-button">
                    <i class="fa fa-spinner fa-pulse"></i>
                    <span>预览</span>
                  </button>
                  <button class="put-btn put-dilate-btn disable-button">
                    <i class="fa fa-spinner fa-pulse"></i>
                    <span>应用</span>
                  </button>
                </div>
              </li>
              <li>
                <div class="link">图像形态学运算<i class="fa fa-caret-right" aria-hidden="true"></i></div>
                <div class="submenu clearfix">
                  <div class="select-wrapper operation-type-wrap">
                    <div class="select-main operation-main">
                      <div class="select-set operation-set" data-current-item="2">
                        <span>开运算</span>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </div>
                      <div class="select-block">
                        <ul class="select-list">
                          <li data-item="2">开运算</li>
                          <li data-item="3">闭运算</li>
                          <li data-item="4">梯度运算</li>
                          <li data-item="5">顶帽操作</li>
                          <li data-item="6">黑帽操作</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="kernel-slider operation-slider">
                    <div class="slider-text">
                      <span class="label">卷积核大小</span>
                      <span class="value"></span>
                    </div>
                    <input type="range" class="k3-slider" value="0">
                  </div>
                  <button class="put-btn preview-btn preview-operation-btn disable-button">
                    <i class="fa fa-spinner fa-pulse"></i>
                    <span>预览</span>
                  </button>
                  <button class="put-btn put-operation-btn disable-button">
                    <i class="fa fa-spinner fa-pulse"></i>
                    <span>应用</span>
                  </button>
                </div>
              </li>
            </ul>
          </li>
          <!------------------------- 图像边缘检测 ------------------->
          <li>
            <ul class="edge-section accordion">
              <li>
                <div class="link">梯度计算<i class="fa fa-caret-right" aria-hidden="true"></i></div>
                <div class="submenu clearfix">
                  <div class="radio-btn-wrap">
                    <h3>算子类型</h3>
                    <ul>
                      <li data-item="sobel" class="current">Sobel算子</li>
                      <li data-item="scharr">Scharr算子</li>
                      <li data-item="laplacian">Laplacian算子</li>
                    </ul>
                  </div>
                  <button class="put-btn preview-btn preview-edge-btn disable-button">
                    <i class="fa fa-spinner fa-pulse"></i>
                    <span>预览</span>
                  </button>
                  <button class="put-btn-green put-edge-btn disable-button">
                    <i class="fa fa-spinner fa-pulse"></i>
                    <span>应用</span>
                  </button>
                </div>
              </li>
              <li>
                <div class="link">Canny边缘检测<i class="fa fa-caret-right" aria-hidden="true"></i></div>
                <div class="submenu">
                  <div class="canny-arg-wrap">
                    <div class="text-input clearfix">
                      <span title="图像梯度小于阈值1认为不是边缘">阈值1</span>
                      <input type="text" class="threshold-val1" value="120">
                    </div>
                    <div class="text-input clearfix">
                      <span title="图像梯度大于阈值2认为是边缘">阈值2</span>
                      <input type="text" class="threshold-val2" value="200">
                    </div>
                  </div>
                  <button class="put-btn preview-btn preview-canny-btn disable-button">
                    <i class="fa fa-spinner fa-pulse"></i>
                    <span>预览</span>
                  </button>
                  <button class="put-btn-green put-canny-btn disable-button">
                    <i class="fa fa-spinner fa-pulse"></i>
                    <span>应用</span>
                  </button>
                </div>
              </li>
            </ul>
          </li>

          <!------------------------- 图像轮廓检索 ------------------->
          <li>
            <div>
              <ul class="contour-section accordion">
                <li>
                  <div class="link">轮廓检索<i class="fa fa-caret-right" aria-hidden="true"></i></div>
                  <div class="submenu clearfix">
                    <div class="toggle clearfix">
                      <div class="toggle-title" title="提取所有轮廓(all)，还是只提取外轮廓(outer)">轮廓数量</div>
                      <input type="checkbox" id="toggle-knob" class="toggle-checkbox">
                      <label class="toggle-btn" for="toggle-knob">
                        <span class="toggle-feature" data-label-on="all" data-label-off="outer"></span>
                      </label>
                    </div>
                    <button class="put-btn preview-btn preview-contour-btn disable-button">
                      <i class="fa fa-spinner fa-pulse"></i>
                      <span>预览</span>
                    </button>
                    <button class="put-btn-green put-contour-btn disable-button">
                      <i class="fa fa-spinner fa-pulse"></i>
                      <span>应用</span>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="link">轮廓近似<i class="fa fa-caret-right" aria-hidden="true"></i></div>
                  <div class="submenu clearfix">
                    <div class="epsilon-slider">
                      <div class="slider-text">
                        <span class="label">epsilon</span>
                        <span class="value"></span>
                      </div>
                      <input type="range" class="approx-slider" value="0">
                    </div>
                    <button class="put-btn preview-btn preview-approx-btn disable-button">
                      <i class="fa fa-spinner fa-pulse"></i>
                      <span>预览</span>
                    </button>
                    <button class="put-btn-green put-approx-btn disable-button">
                      <i class="fa fa-spinner fa-pulse"></i>
                      <span>应用</span>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="link">凸包<i class="fa fa-caret-right" aria-hidden="true"></i></div>
                  <div class="submenu clearfix">
                    <button class="put-btn preview-btn preview-convex-btn disable-button">
                      <i class="fa fa-spinner fa-pulse"></i>
                      <span>预览</span>
                    </button>
                    <button class="put-btn-green put-convex-btn disable-button">
                      <i class="fa fa-spinner fa-pulse"></i>
                      <span>应用</span>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="link">边界拟合<i class="fa fa-caret-right" aria-hidden="true"></i></div>
                  <div class="submenu select-wrapper clearfix">
                    <div class="fit-main select-main">
                      <div class="fit-set-select select-set" data-current-item="bounding">
                        <span>边界矩形拟合</span>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </div>
                      <div class="fit-select-block select-block">
                        <ul class="fit-list select-list">
                          <li data-item="bounding">边界矩形拟合</li>
                          <li data-item="minRect">最小边界矩形拟合</li>
                          <li data-item="minCircle">最小边界外接圆拟合</li>
                          <li data-item="ellipse">边界椭圆拟合</li>
                        </ul>
                      </div>
                    </div>
                    <button class="put-btn preview-btn preview-fit-btn disable-button">
                      <i class="fa fa-spinner fa-pulse"></i>
                      <span>预览</span>
                    </button>
                    <button class="put-btn-green put-fit-btn disable-button">
                      <i class="fa fa-spinner fa-pulse"></i>
                      <span>应用</span>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <!--------------------- 齿轮参数检测 ---------------------->
          <li>
            <div class="gear-detection-wrap">
              <div class="calibrate-wrap">
                <h3 class="title">系统标定</h3>
                <button class="put-btn-green not-disable calibrate-btn">
                  <i class="fa fa-spinner fa-pulse"></i>
                  <span>标定</span>
                </button>
                <div class="calibrate-info">
                  <h4>标定结果</h4>
                  <p>
                    <span>标定系数(mm/px)：</span>
                    <span class="value">--</span>
                  </p>
                </div>
              </div>
              <div class="parameter-detection">
                <h3 class="title">参数测量</h3>
                <button class="put-btn-green gear-detection-btn disable-button">
                  <i class="fa fa-spinner fa-pulse"></i>
                  <span>参数测量</span>
                </button>
              </div>
            </div>
          </li>

          <!---------------------- 轴尺寸测量 ------------------------>
          <li>
            <div class="shaft-detection-wrap">
              <div class="calibrate-wrap">
                <h3 class="title">系统标定</h3>
                <button class="put-btn-green not-disable calibrate-btn">
                  <i class="fa fa-spinner fa-pulse"></i>
                  <span>标定</span>
                </button>
                <div class="calibrate-info">
                  <h4>标定结果</h4>
                  <p>
                    <span>标定系数(mm/px)：</span>
                    <span class="value">--</span>
                  </p>
                </div>
              </div>
              <div class="shaft-deection">
                <h3 class="title">尺寸测量</h3>
                <button class="put-btn-green shaft-detection-btn disable-button">
                  <i class="fa fa-spinner fa-pulse"></i>
                  <span>尺寸测量</span>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="img-show-wrapper">
      <div class="l-box">
        <h3 class="img-title master-title">原图</h3>
        <div class="img-content">
          <h4 class="img-name master-name"></h4>
          <div class="img-wrap master-wrapper"></div>
          <div class="img-size master-size"></div>
        </div>
      </div>
      <div class="r-box">
        <h3 class="img-title processing-title">预览处理图片</h3>
        <div class="img-content">
          <h4 class="img-name processing-name"></h4>
          <div class="img-wrap processing-wrapper"></div>
          <div class="img-size processing-size"></div>
        </div>
      </div>
      <div class="gear-info">
        <h3 class="title">测量结果</h3>
        <ul class="parameter-list">
          <li>
            <div class="l-param">
              <span class="label">齿顶圆半径</span>
              <span class="value addendum"></span>
            </div>
            <div class="r-param">
              <span class="label">齿数</span>
              <span class="value teeth"></span>
            </div>
          </li>
          <li>
            <div class="l-param">
              <span class="label">齿根圆半径</span>
              <span class="value dedendum"></span>
            </div>
            <div class="r-param">
              <span class="label">模数</span>
              <span class="value modulus"></span>
            </div>
          </li>
          <li>
            <div class="l-param">
              <span class="label">分度圆半径</span>
              <span class="value reference"></span>
            </div>
            <div class="r-param">
              <span class="label">齿距</span>
              <span class="value pitch"></span>
            </div>
          </li>
          <li>
            <div class="l-param">
              <span class="label">齿顶高</span>
              <span class="value tooth_add"></span>
            </div>
            <div class="r-param">
              <span class="label">齿根高</span>
              <span class="value tooth_ded"></span>
            </div>
          </li>
        </ul>
      </div>

      <div class="shaft-info">
        <h3 class="title">测量结果</h3>
        <table class=shaft-table>
          <thead>
            <tr>
              <th>轴段</th>
              <th>轴径</th>
              <th>轴长</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="footer">
    <p class="hint">
      <i aria-hidden="true"></i>
      <span></span>
    </p>
    <p class="copyright">
      Copyright &copy; 2019 Cong Li
    </p>
  </div>

  <div class="calibrate-popup">
    <div class="popup-main">
      <div class="calibrate-popup-header clearfix">
        <div class="title-text">标定</div>
        <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
      </div>
      <div class="calibrate-tabs">
        <ul class="clearfix">
          <li class="plate current">标定板标定</li>
          <li class="block">量块标定</li>
        </ul>
      </div>
      <div class="calibrate-nav-content">
        <ul>
          <li class="calibrate-plate active">
            <div class="plate-popup-body">
              <div class="show-calibrate-wrap">
                <button class="put-btn-green not-disable upload-plate-btn">
                  <i class="fa fa-spinner fa-pulse"></i>
                  <input id="upload-plate-inp" type="file" name="file" multiple
                    accept="image/png, image/gif, image/jpg, image/bmp, image/jpeg" />
                  <span>选择标定图片</span>
                </button>
                <i class="fa fa-spinner fa-pulse plate-loading-icon" aria-hidden="true"></i>
                <div class="plate-img-box"></div>
              </div>
              <div class="parameters-wrap">
                <ul class="clearfix">
                  <li>
                    <label for="plate-num-m">标定板格数 M×N</label>
                    <input type="text" id="plate-num-m">
                    <span>×</span>
                    <input type="text" id="plate-num-n">
                  </li>
                  <li>
                    <label for="plate-ract-width">方格边长(mm)</label>
                    <input type="text" id="plate-ract-width">
                  </li>
                  <li>
                    <label for="plate-height-inp">标定高度(mm)</label>
                    <input type="text" id="plate-height-inp">
                  </li>
                </ul>
              </div>
              <div class="calibrate-plate-result">
                <h4 class="result-title">标定结果</h4>
                <div class="plate-result-content">
                  <span class="label">标定系数:</span>
                  <span class="plate-value">--</span>
                </div>
              </div>
              <div class="plate-btn-wrap">
                <button class="put-btn not-disable plate-anew-btn">
                  <i class="fa fa-spinner fa-pulse"></i>
                  <span>重新标定</span>
                </button>
                <button class="put-btn not-disable plate-cancel-btn">
                  <i class="fa fa-spinner fa-pulse"></i>
                  <span>取消</span>
                </button>
                <button class="put-btn not-disable plate-confirm-btn">
                  <span>开始标定</span>
                  <i class="fa fa-spinner fa-pulse plate-confirm-icon" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </li>
          <li class="gauge-block">
            <div class="gauge-block-body">
              <div class="gauge-content clearfix">
                <div class="gauge-img-wrap">
                  <div class="show-gauge-img">
                    <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
                  </div>
                  <div class="upload-gauge-wrap">
                    <button class="put-btn-green not-disable upload-gauge-btn">
                      <i class="fa fa-spinner fa-pulse"></i>
                      <input id="upload-gauge-inp" type="file" name="file"
                        accept="image/png, image/gif, image/jpg, image/bmp, image/jpeg" />
                      <span>选择量块图片</span>
                    </button>
                  </div>
                </div>
                <div class="gauge-result">
                  <h4 class="result-title">标定结果</h4>
                  <div class="gauge-result-content">
                    <span class="label">标定系数:</span>
                    <span class="gauge-value">--</span>
                  </div>
                </div>
              </div>
              <div class="gauge-btn-control">
                <button class="put-btn not-disable gauge-anew-btn">
                  <i class="fa fa-spinner fa-pulse"></i>
                  <span>重新标定</span>
                </button>
                <button class="put-btn not-disable gauge-cancel-btn">
                  <i class="fa fa-spinner fa-pulse"></i>
                  <span>取消</span>
                </button>
                <button class="put-btn not-disable gauge-confirm-btn">
                  <i class="fa fa-spinner fa-pulse"></i>
                  <span>开始标定</span>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="popup-wrap">
    <div class="popup-content">
      <img src="" class="popup-img">
    </div>
    <div class="popup-close-btn">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
  </div>

  <script src="static/js/jquery-3.2.1.js"></script>
  <script src="static/js/rangeSlider.js"></script>
  <script src="static/js/accordion.js"></script>
  <script src="static/js/index.js"></script>
</body>

</html>